<web-app>

    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>
            com.example.controller.CustomerServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>

</web-app>